{
  'openapi': '3.0.1',
  'info':
    {
      'title': 'SKAX Physical Risk Management API',
      'description': '사업장 기후 물리적 리스크 관리 시스템 백엔드 API',
      'version': '1.0.0',
    },
  'servers': [{ 'url': 'http://kk21.iptime.org:8080', 'description': 'Generated server url' }],
  'security': [{ 'Bearer Authentication': [] }],
  'tags': [{ 'name': '시뮬레이션', 'description': '기후 시뮬레이션 및 사업장 이전 분석 API' }],
  'paths':
    {
      '/api/site':
        {
          'get':
            {
              'tags': ['site-controller'],
              'summary': '특정 사업장 조회',
              'description': '사업장 이름으로 특정 사업장의 정보를 조회합니다.',
              'operationId': 'getSite',
              'parameters':
                [
                  {
                    'name': 'siteName',
                    'in': 'query',
                    'description': '사업장명',
                    'required': true,
                    'schema': { 'type': 'string' },
                    'example': 'sk u 타워',
                  },
                ],
              'responses':
                {
                  '200':
                    {
                      'description': '사업장 정보 반환',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/SiteInfo' },
                              'example':
                                {
                                  'siteId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                                  'siteName': 'sk u 타워',
                                  'latitude': 37.36633726,
                                  'longitude': 127.10661717,
                                  'jibunAddress': '경기도 성남시 분당구 정자동 25-1',
                                  'roadAddress': '경기도 성남시 분당구 성남대로343번길 9',
                                  'siteType': 'data_center',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': '사업장을 찾을 수 없음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '사업장을 찾을 수 없습니다.',
                                  'errorCode': 'SITE_NOT_FOUND',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                },
            },
          'post':
            {
              'tags': ['site-controller'],
              'summary': '사업장 등록',
              'description': '사업장 등록하는 엔드포인트.',
              'operationId': 'createSite',
              'requestBody':
                {
                  'description': '사업장 정보',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/CreateSiteRequest' },
                          'example':
                            {
                              'name': 'sk u타워',
                              'latitude': 37.36633726,
                              'longitude': 127.10661717,
                              'jibunAddress': '경기도 성남시 분당구 정자동 25-1',
                              'roadAddress': '경기도 성남시 분당구 성남대로343번길 9',
                              'type': 'office',
                            },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '200':
                    {
                      'description': '사업장 등록 결과',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/SiteInfo' },
                              'example':
                                {
                                  'siteId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                                  'siteName': '서울 본사',
                                  'latitude': 37.36633726,
                                  'longitude': 127.10661717,
                                  'jibunAddress': '경기도 성남시 분당구 정자동 25-1',
                                  'roadAddress': '경기도 성남시 분당구 성남대로343번길 9',
                                  'siteType': '공장',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': '사업장 데이터가 유효하지 않음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '유효하지 않은 사업장 데이터입니다.',
                                  'errorCode': 'INVALID_SITE_DATA',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '409':
                    {
                      'description': '동일한 위경도를 가진 사업장이 이미 존재함',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '동일한 위경도를 가진 사업장이 이미 존재합니다.',
                                  'errorCode': 'DUPLICATE_SITE_COORDINATES',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                },
            },
          'delete':
            {
              'tags': ['site-controller'],
              'summary': '사업장 삭제',
              'description': '특정 사업장을 삭제하는 엔드포인트.',
              'operationId': 'deleteSite',
              'parameters':
                [
                  {
                    'name': 'siteId',
                    'in': 'query',
                    'description': '사업장 ID',
                    'required': true,
                    'schema': { 'type': 'string', 'format': 'uuid' },
                    'example': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                  },
                ],
              'responses':
                {
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': '사업장을 찾을 수 없음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '사업장을 찾을 수 없습니다.',
                                  'errorCode': 'SITE_NOT_FOUND',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '사업장 삭제 처리 결과 반환',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                { 'result': 'success', 'message': '사업장이 삭제되었습니다.' },
                            },
                        },
                    },
                },
            },
          'patch':
            {
              'tags': ['site-controller'],
              'summary': '사업장 수정',
              'description': '특정 사업장 정보를 수정하는 엔드포인트.',
              'operationId': 'updateSite',
              'parameters':
                [
                  {
                    'name': 'siteId',
                    'in': 'query',
                    'description': '사업장 ID',
                    'required': true,
                    'schema': { 'type': 'string', 'format': 'uuid' },
                    'example': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                  },
                ],
              'requestBody':
                {
                  'description': '수정할 사업장 정보',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/UpdateSiteRequest' },
                          'example':
                            {
                              'name': 'sk u타워',
                              'latitude': 37.36633726,
                              'longitude': 127.10661717,
                              'jibunAddress': '경기도 성남시 분당구 정자동 25-1',
                              'roadAddress': '경기도 성남시 분당구 성남대로343번길 9',
                              'type': 'data_center',
                            },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '422':
                    {
                      'description': '사업장 데이터가 유효하지 않음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '유효하지 않은 사업장 데이터입니다.',
                                  'errorCode': 'VALIDATION_ERROR',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '수정된 사업장 정보 반환',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/SiteInfo' },
                              'example':
                                {
                                  'siteId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                                  'name': 'sk u타워',
                                  'latitude': 37.36633726,
                                  'longitude': 127.10661717,
                                  'jibunAddress': '경기도 성남시 분당구 정자동 25-1',
                                  'roadAddress': '경기도 성남시 분당구 성남대로343번길 9',
                                  'type': 'data_center',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': '사업장을 찾을 수 없음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '사업장을 찾을 수 없습니다.',
                                  'errorCode': 'SITE_NOT_FOUND',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/simulation/location/compare':
        {
          'post':
            {
              'tags': ['시뮬레이션'],
              'summary': '위치 시뮬레이션 비교',
              'description': "특정 주소를 입력하면 특정 사업장과 비교하는 시뮬레이션.\n새 후보지는 특정 사업장과 같은 유형이라고 가정한다.",
              'operationId': 'compareLocation',
              'requestBody':
                {
                  'description': '현재 사업장 ID와 비교할 후보지 정보',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/RelocationSimulationRequest' },
                          'example':
                            {
                              'siteId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                              'candidate':
                                {
                                  'latitude': 36.5040736,
                                  'longitude': 127.2494855,
                                  'jibunAddress': '세종특별자치시 보람동 660',
                                  'roadAddress': '세종특별자치시 한누리대로 2130 (보람동)',
                                },
                            },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '503':
                    {
                      'description': '외부 서비스 연결 실패',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': 'FastAPI 서버 연결에 실패했습니다.',
                                  'errorCode': 'FASTAPI_CONNECTION_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': '사업장을 찾을 수 없음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '사업장을 찾을 수 없습니다.',
                                  'errorCode': 'SITE_NOT_FOUND',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '비교 대상 후보지의 리스크 정보',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                { '$ref': '#/components/schemas/RelocationSimulationResponse' },
                              'example':
                                {
                                  'siteId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                                  'candidate':
                                    {
                                      'candidateId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                                      'latitude': 36.5040736,
                                      'longitude': 127.2494855,
                                      'jibunAddress': '세종특별자치시 보람동 660',
                                      'roadAddress': '세종특별자치시 한누리대로 2130 (보람동)',
                                      'riskscore': 70,
                                      'aalscore': 20,
                                      'physical-risk-scores':
                                        {
                                          'extreme_heat': 10,
                                          'extreme_cold': 20,
                                          'river_flood': 30,
                                          'urban_flood': 40,
                                          'drought': 50,
                                          'water_stress': 60,
                                          'sea_level_rise': 50,
                                          'typhoon': 70,
                                          'wildfire': 60,
                                        },
                                      'aal-scores':
                                        {
                                          'extreme_heat': 9,
                                          'extreme_cold': 10,
                                          'river_flood': 11,
                                          'urban_flood': 12,
                                          'drought': 13,
                                          'water_stress': 14,
                                          'sea_level_rise': 15,
                                          'typhoon': 17,
                                          'wildfire': 16,
                                        },
                                      'pros': '홍수 위험 62% 감소한다',
                                      'cons': '초기 구축 비용 증가한다',
                                    },
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/simulation/climate':
        {
          'post':
            {
              'tags': ['시뮬레이션'],
              'summary': '기후 시뮬레이션',
              'description': "SSP 시나리오와 기후 변수에 따라 연도별 모든 사업장 값을 반환한다.\n대응 방안은 현재 API에 존재하지 않으며, 추후 필요 시 필드 추가가 필요하다.",
              'operationId': 'runClimateSimulation',
              'requestBody':
                {
                  'description': '시뮬레이션 시나리오와 위험 유형',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/ClimateSimulationRequest' },
                          'example': { 'scenario': 'SSP2-4.5', 'hazardType': '극심한 고온' },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '200':
                    {
                      'description': '시나리오별, 연도별 사업장 기후 데이터',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                { '$ref': '#/components/schemas/ClimateSimulationResponse' },
                              'example':
                                {
                                  'scenario': 'SSP2-4.5',
                                  'riskType': '극심한 고온',
                                  'yearlyData':
                                    [
                                      {
                                        'year': 2030,
                                        'nationalAverageTemperature': 14.5,
                                        'sites':
                                          [
                                            {
                                              'siteId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                                              'siteName': 'sk u 타워',
                                              'Temperature': 15,
                                              'riskincrease': 15.2,
                                            },
                                            {
                                              'siteId': '3fa96f64-5789-6859-b3fc-2c963f23dhi6',
                                              'siteName': '판교 데이터 센터',
                                              'Temperature': 14.8,
                                              'riskincrease': 18,
                                            },
                                          ],
                                      },
                                      {
                                        'year': 2040,
                                        'nationalAverageTemperature': 16.5,
                                        'sites':
                                          [
                                            {
                                              'siteId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                                              'siteName': 'sk u 타워',
                                              'Temperature': 17,
                                              'riskincrease': 17.2,
                                            },
                                            {
                                              'siteId': '3fa96f64-5789-6859-b3fc-2c963f23dhi6',
                                              'siteName': '판교 데이터 센터',
                                              'Temperature': 15.8,
                                              'riskincrease': 19,
                                            },
                                          ],
                                      },
                                    ],
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/report/data':
        {
          'post':
            {
              'tags': ['report-controller'],
              'summary': '보고서 추가 데이터 등록',
              'description': "보고서 작성을 위해 추가 데이터를 등록하는 엔드포인트.\n사업장별로 데이터 파일을 업로드할 수 있다.",
              'operationId': 'registerReportData',
              'requestBody':
                {
                  'description': '사업장 ID와 데이터',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { 'type': 'string' },
                          'example':
                            {
                              'siteId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                              'data': '여기가 데이터 파일',
                            },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': '사업장을 찾을 수 없음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '사업장을 찾을 수 없습니다.',
                                  'errorCode': 'SITE_NOT_FOUND',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '데이터 파일 등록 결과 반환',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                {
                                  'result': 'success',
                                  'message': '리포트 데이터가 등록되었습니다.',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/auth/register':
        {
          'post':
            {
              'tags': ['auth-controller'],
              'summary': '회원가입 완료',
              'description': '이메일 인증 완료 후 사용자 정보를 등록하여 회원가입을 완료합니다.',
              'operationId': 'register',
              'requestBody':
                {
                  'description': '회원가입 정보 (이메일, 이름, 비밀번호)',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/RegisterRequest' },
                          'example':
                            {
                              'email': 'user@example.com',
                              'name': '홍길동',
                              'password': 'password123',
                            },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '422':
                    {
                      'description': '이메일 인증이 완료되지 않음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '이메일 인증이 완료되지 않았습니다.',
                                  'errorCode': 'EMAIL_NOT_VERIFIED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '409':
                    {
                      'description': '이메일이 이미 존재함',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '이미 존재하는 이메일입니다.',
                                  'errorCode': 'EMAIL_ALREADY_EXISTS',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '201':
                    {
                      'description': '회원가입 성공',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                { 'result': 'success', 'message': '회원가입이 완료되었습니다.' },
                            },
                        },
                    },
                },
            },
        },
      '/api/auth/register-verificationCode':
        {
          'post':
            {
              'tags': ['auth-controller'],
              'summary': '회원가입 인증번호 확인',
              'description': '이메일로 발송된 6자리 인증번호를 확인합니다. 인증번호가 일치하지 않거나 만료된 경우 422 에러를 반환합니다.',
              'operationId': 'registerVerificationCode',
              'requestBody':
                {
                  'description': '이메일 주소와 인증번호',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/VerifyCodeRequest' },
                          'example': { 'email': 'user@example.com', 'verificationCode': '123456' },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '200':
                    {
                      'description': '인증 성공',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                { 'result': 'success', 'message': '인증이 완료되었습니다.' },
                            },
                        },
                    },
                  '404':
                    {
                      'description': '인증번호를 찾을 수 없음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '유효한 인증번호를 찾을 수 없습니다.',
                                  'errorCode': 'VERIFICATION_CODE_NOT_FOUND',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': '인증번호가 일치하지 않거나 만료됨',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증번호가 일치하지 않습니다.',
                                  'errorCode': 'VERIFICATION_CODE_MISMATCH',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/auth/register-email':
        {
          'post':
            {
              'tags': ['auth-controller'],
              'summary': '회원가입 이메일 인증 요청',
              'description': '회원가입을 위한 6자리 인증번호를 이메일로 발송합니다. 이메일이 이미 존재하는 경우 409 Conflict 에러를 반환합니다.',
              'operationId': 'registerEmail',
              'requestBody':
                {
                  'description': '이메일 주소',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/RegisterEmailRequest' },
                          'example': { 'email': 'user@example.com' },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '503':
                    {
                      'description': '이메일 발송 실패',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '이메일 발송에 실패했습니다.',
                                  'errorCode': 'EMAIL_SEND_FAILED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '409':
                    {
                      'description': '이메일이 이미 존재함',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '이미 존재하는 이메일입니다.',
                                  'errorCode': 'EMAIL_ALREADY_EXISTS',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '이메일 발송 성공',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                {
                                  'result': 'success',
                                  'message': '인증번호가 이메일로 발송되었습니다.',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/auth/refresh':
        {
          'post':
            {
              'tags': ['auth-controller'],
              'summary': '토큰 재발급',
              'operationId': 'refresh',
              'requestBody':
                {
                  'description': '리프레시 토큰',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/RefreshTokenRequest' },
                          'example': { 'refreshToken': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...' },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '200':
                    {
                      'description': '새로운 액세스/리프레시 토큰 반환',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                {
                                  'result': 'success',
                                  'message': '토큰이 갱신되었습니다.',
                                  'data':
                                    {
                                      'accessToken': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...',
                                      'refreshToken': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...',
                                      'userId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                                    },
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': '리프레시 토큰이 유효하지 않거나 만료됨',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '유효하지 않은 토큰입니다.',
                                  'errorCode': 'INVALID_TOKEN',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/auth/password/reset-verify':
        {
          'post':
            {
              'tags': ['auth-controller'],
              'summary': '비밀번호 재설정 인증번호 확인',
              'description': '비밀번호 재설정을 위한 인증번호를 확인합니다.',
              'operationId': 'verifyPasswordResetCode',
              'requestBody':
                {
                  'description': '이메일과 인증번호',
                  'content':
                    {
                      'application/json':
                        {
                          'schema':
                            { '$ref': '#/components/schemas/PasswordResetVerifyCodeRequest' },
                          'example': { 'email': 'user@example.com', 'code': '123456' },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '422':
                    {
                      'description': '인증번호 불일치 또는 만료',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증번호가 일치하지 않습니다.',
                                  'errorCode': 'VERIFICATION_CODE_MISMATCH',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': '이메일이 존재하지 않음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '존재하지 않는 이메일입니다.',
                                  'errorCode': 'EMAIL_NOT_FOUND',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '인증번호 확인 성공',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                { 'result': 'success', 'message': '인증번호가 확인되었습니다.' },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/auth/password/reset-email':
        {
          'post':
            {
              'tags': ['auth-controller'],
              'summary': '비밀번호 재설정 이메일 발송',
              'description': '비밀번호 재설정을 위한 6자리 인증번호를 이메일로 발송합니다.',
              'operationId': 'resetPasswordEmail',
              'requestBody':
                {
                  'description': '이메일 주소',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/PasswordResetEmailRequest' },
                          'example': { 'email': 'user@example.com' },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '503':
                    {
                      'description': '이메일 발송 실패',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '이메일 발송에 실패했습니다.',
                                  'errorCode': 'EMAIL_SEND_FAILED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '이메일 발송 성공',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                {
                                  'result': 'success',
                                  'message': '비밀번호 재설정 인증번호가 이메일로 발송되었습니다.',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': '이메일이 존재하지 않음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '존재하지 않는 이메일입니다.',
                                  'errorCode': 'USER_NOT_FOUND',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/auth/password/reset-complete':
        {
          'post':
            {
              'tags': ['auth-controller'],
              'summary': '비밀번호 재설정 완료',
              'description': '새로운 비밀번호로 변경합니다.',
              'operationId': 'completePasswordReset',
              'requestBody':
                {
                  'description': '이메일과 새 비밀번호',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/PasswordResetCompleteRequest' },
                          'example':
                            { 'email': 'user@example.com', 'newPassword': 'newPassword123!' },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '404':
                    {
                      'description': '이메일이 존재하지 않음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '존재하지 않는 이메일입니다.',
                                  'errorCode': 'EMAIL_NOT_FOUND',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': '이메일 인증 미완료',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '이메일 인증이 완료되지 않았습니다.',
                                  'errorCode': 'EMAIL_NOT_VERIFIED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '비밀번호 재설정 성공',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                {
                                  'result': 'success',
                                  'message': '비밀번호가 성공적으로 재설정되었습니다.',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/auth/logout':
        {
          'post':
            {
              'tags': ['auth-controller'],
              'summary': '로그아웃',
              'description': '현재 로그인된 사용자를 로그아웃합니다. RefreshToken을 무효화합니다.',
              'operationId': 'logout',
              'responses':
                {
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '로그아웃 성공',
                      'content':
                        {
                          'application/json':
                            {
                              'example': { 'result': 'success', 'message': '로그아웃되었습니다.' },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/auth/login':
        {
          'post':
            {
              'tags': ['auth-controller'],
              'summary': '로그인',
              'operationId': 'login',
              'requestBody':
                {
                  'description': '로그인 정보',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/LoginRequest' },
                          'example': { 'email': 'user@example.com', 'password': 'password123!' },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '401':
                    {
                      'description': '인증 실패 (이메일 또는 비밀번호 불일치)',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '이메일 또는 비밀번호가 일치하지 않습니다.',
                                  'errorCode': 'INVALID_CREDENTIALS',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '로그인 성공 및 토큰 반환',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                {
                                  'result': 'success',
                                  'message': '로그인에 성공했습니다.',
                                  'data':
                                    {
                                      'accessToken': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...',
                                      'refreshToken': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...',
                                      'userId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                                    },
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/analysis/start':
        {
          'post':
            {
              'tags': ['analysis-controller'],
              'summary': '분석 시작',
              'description': "회원가입 후 첫 로그인 시 사업장 등록 후 분석을 위해 호출할 API.\n사업장 등록5 화면에서 완료 버튼 누를 때 호출되며,\n모든 사업장을 대상으로 통합 분석을 수행하고 분석 시행 결과를 반환한다.\n모든 사업장의 분석 결과가 다 나올 때까지 로딩을 띄울 것이며 해당 엔드포인트 반환 값은 무시할 예정.",
              'operationId': 'startAnalysis',
              'requestBody':
                {
                  'description': '분석할 사업장 목록',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/StartAnalysisRequest' },
                          'example':
                            {
                              'sites':
                                [
                                  { 'siteId': '3fa85f64-5717-4562-b3fc-2c963f66afa6' },
                                  { 'siteId': '3fa96f64-5789-6859-b3fc-2c963f23dhi6' },
                                ],
                            },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '200':
                    {
                      'description': '분석 시작 결과',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                { 'result': 'success', 'message': '분석이 시작되었습니다.' },
                            },
                        },
                    },
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': '사업장을 찾을 수 없음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '사업장을 찾을 수 없습니다.',
                                  'errorCode': 'SITE_NOT_FOUND',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/analysis/complete':
        {
          'post':
            {
              'tags': ['analysis-controller'],
              'summary': '분석 완료 콜백',
              'description': 'FastAPI에서 분석 완료 시 호출하는 콜백 엔드포인트. 사용자에게 완료 이메일을 발송합니다.',
              'operationId': 'notifyAnalysisCompletion',
              'requestBody':
                {
                  'description': '사용자 ID',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/AnalysisCompleteRequest' },
                          'example': { 'userId': '3fa85f64-5717-4562-b3fc-2c963f66afa6' },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '200':
                    {
                      'description': '알림 발송 성공',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                {
                                  'result': 'success',
                                  'message': '분석 완료 알림이 발송되었습니다.',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': '사용자를 찾을 수 없음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '사용자를 찾을 수 없습니다.',
                                  'errorCode': 'USER_NOT_FOUND',
                                  'timestamp': '2025-12-12T15:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/users/me':
        {
          'get':
            {
              'tags': ['user-controller'],
              'summary': '사용자 정보 조회',
              'description': '사용자 페이지에서 사용할 현재 로그인 사용자 정보 조회.',
              'operationId': 'getCurrentUser',
              'responses':
                {
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '사용자 정보',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/UserResponse' },
                              'example':
                                { 'email': 'user@example.com', 'name': '홍길동', 'language': 'ko' },
                            },
                        },
                    },
                },
            },
          'delete':
            {
              'tags': ['user-controller'],
              'summary': '계정 삭제',
              'description': '계정을 삭제하는 엔드포인트.',
              'operationId': 'deleteUser',
              'responses':
                {
                  '200':
                    {
                      'description': '계정 삭제 결과 반환',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ApiResponse' },
                              'example':
                                { 'result': 'success', 'message': '계정이 삭제되었습니다.' },
                            },
                        },
                    },
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                },
            },
          'patch':
            {
              'tags': ['user-controller'],
              'summary': '사용자 정보 수정',
              'description': '사용자 정보 중 언어 정보를 수정한다.',
              'operationId': 'updateUser',
              'requestBody':
                {
                  'description': '수정할 사용자 정보',
                  'content':
                    {
                      'application/json':
                        {
                          'schema': { '$ref': '#/components/schemas/UpdateUserRequest' },
                          'example': { 'language': 'ko' },
                        },
                    },
                  'required': true,
                },
              'responses':
                {
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '수정된 사용자 정보',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/UserResponse' },
                              'example':
                                { 'email': 'user@example.com', 'name': '홍길동', 'language': 'ko' },
                            },
                        },
                    },
                },
            },
        },
      '/api/sites':
        {
          'get':
            {
              'tags': ['sites-controller'],
              'summary': '전체 사업장 조회',
              'description': '현재 로그인한 사용자의 전체 사업장 목록을 조회합니다.',
              'operationId': 'getAllSites',
              'responses':
                {
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '전체 사업장 목록 반환',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/SiteResponse' },
                              'example':
                                {
                                  'sites':
                                    [
                                      {
                                        'siteId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                                        'siteName': 'sk u 타워',
                                        'latitude': 37.36633726,
                                        'longitude': 127.10661717,
                                        'jibunAddress': '경기도 성남시 분당구 정자동 25-1',
                                        'roadAddress': '경기도 성남시 분당구 성남대로343번길 9',
                                        'siteType': 'data_center',
                                      },
                                      {
                                        'siteId': '3fa96f64-5789-6859-b3fc-2c963f23dhi6',
                                        'siteName': '판교 데이터 센터',
                                        'latitude': 37.4003481203,
                                        'longitude': 127.1049265705,
                                        'jibunAddress': '경기도 성남시 분당구 삼평동 612-4 SK 판교캠퍼스 B',
                                        'roadAddress': '경기도 성남시 분당구 판교로255번길 38 (삼평동)',
                                        'siteType': 'data_center',
                                      },
                                    ],
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/simulation/location/recommendation':
        {
          'get':
            {
              'tags': ['시뮬레이션'],
              'summary': '위치 시뮬레이션 후보지 조회',
              'description': '특정 사업장과 같은 유형의 추천 후보지 상위 3개를 조회합니다',
              'operationId': 'getLocationRecommendation',
              'parameters':
                [
                  {
                    'name': 'siteId',
                    'in': 'query',
                    'description': '사업장 ID',
                    'required': true,
                    'schema': { 'type': 'string' },
                    'example': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                  },
                ],
              'responses':
                {
                  '503':
                    {
                      'description': '외부 서비스 연결 실패',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': 'FastAPI 서버 연결에 실패했습니다.',
                                  'errorCode': 'FASTAPI_CONNECTION_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': '사업장을 찾을 수 없음',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '사업장을 찾을 수 없습니다.',
                                  'errorCode': 'SITE_NOT_FOUND',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '추천 후보지 3개와 각 후보지의 리스크 정보',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                { '$ref': '#/components/schemas/LocationRecommendationResponse' },
                              'example':
                                {
                                  'site':
                                    {
                                      'siteId': '3fa85f64-5717-4562-b3fc-2c963f66afa6',
                                      'candidate1':
                                        {
                                          'candidateId': 'a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6',
                                          'candidateName': '세종 데이터 센터 부지',
                                          'latitude': 36.5040736,
                                          'longitude': 127.2494855,
                                          'jibunAddress': '세종특별자치시 보람동 660',
                                          'roadAddress': '세종특별자치시 한누리대로 2130 (보람동)',
                                          'riskscore': 70,
                                          'aalscore': 20,
                                          'physical-risk-scores':
                                            {
                                              'extreme_heat': 10,
                                              'extreme_cold': 20,
                                              'river_flood': 30,
                                            },
                                          'aal-scores':
                                            {
                                              'extreme_heat': 9,
                                              'extreme_cold': 10,
                                              'river_flood': 11,
                                            },
                                          'pros': '홍수 위험 62% 감소한다',
                                          'cons': '초기 구축 비용 증가한다',
                                        },
                                      'candidate2':
                                        {
                                          'candidateId': 'b2c3d4e5-f6a7-b8c9-d0e1-f2a3b4c5d6e7',
                                          'candidateName': '부산 데이터 센터 부지',
                                          'latitude': 35.1795543,
                                          'longitude': 129.0756416,
                                          'jibunAddress': '부산광역시 연제구 연산동 1000',
                                          'roadAddress': '부산광역시 연제구 중앙대로 1001',
                                          'riskscore': 65,
                                          'aalscore': 18,
                                          'physical-risk-scores':
                                            {
                                              'extreme_heat': 15,
                                              'extreme_cold': 10,
                                              'river_flood': 25,
                                            },
                                          'aal-scores':
                                            {
                                              'extreme_heat': 8,
                                              'extreme_cold': 9,
                                              'river_flood': 12,
                                            },
                                          'pros': '해수면 상승 영향 적음',
                                          'cons': '태풍 위험도 높음',
                                        },
                                      'candidate3':
                                        {
                                          'candidateId': 'c3d4e5f6-a7b8-c9d0-e1f2-a3b4c5d6e7f8',
                                          'candidateName': '춘천 데이터 센터 부지',
                                          'latitude': 37.8813,
                                          'longitude': 127.7298,
                                          'jibunAddress': '강원도 춘천시 동면 123',
                                          'roadAddress': '강원도 춘천시 동면 순환대로 1234',
                                          'riskscore': 50,
                                          'aalscore': 10,
                                          'physical-risk-scores':
                                            {
                                              'extreme_heat': 5,
                                              'extreme_cold': 30,
                                              'river_flood': 10,
                                            },
                                          'aal-scores':
                                            {
                                              'extreme_heat': 4,
                                              'extreme_cold': 15,
                                              'river_flood': 5,
                                            },
                                          'pros': '대부분의 기후 리스크 낮음',
                                          'cons': '겨울철 한파 리스크 높음',
                                        },
                                    },
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/report':
        {
          'get':
            {
              'tags': ['report-controller'],
              'summary': '통합 리포트 조회',
              'description': "보고서 내용을 받아오는 엔드포인트.\nCEO 요약, 거버넌스, 전략, 리스크 관리, 목표 정보를 포함한다.",
              'operationId': 'getReport',
              'responses':
                {
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '통합 리포트 내용',
                      'content':
                        {
                          'application/json':
                            {
                              'example':
                                {
                                  'result': 'success',
                                  'data':
                                    {
                                      'ceosummry': '회사는 현재 기후 관련 위험을 면밀히 분석했습니다',
                                      'Governance': '기후 거버넌스는 당사의 지속 가능한 운영과 자산 가치를 극대화하기 위한 필수 요소입니다.',
                                      'strategy': '기후 변화에 대한 포괄적 접근 방식을 통해 우리는 지속 가능한 운영을 도모합니다.',
                                      'riskmanagement': '리스크 관리의 일환으로 당사는 여러 프로세스를 도입했습니다.',
                                      'goal': '현재 기후 리스크로 인해 예상되는 손실과 당사의 목표입니다.',
                                    },
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/past':
        {
          'get':
            {
              'tags': ['past-controller'],
              'summary': '과거 재해 이력 조회',
              'description': '연도, 재해 유형, 심각도에 따른 과거 재해 이력을 조회한다.',
              'operationId': 'getPastDisasters',
              'parameters':
                [
                  {
                    'name': 'year',
                    'in': 'query',
                    'description': '연도',
                    'required': true,
                    'schema': { 'type': 'integer', 'format': 'int32' },
                    'example': 2023,
                  },
                  {
                    'name': 'disaster_type',
                    'in': 'query',
                    'description': '재해 유형',
                    'required': true,
                    'schema': { 'type': 'string' },
                    'example': '호우',
                  },
                  {
                    'name': 'severity',
                    'in': 'query',
                    'description': '심각도',
                    'required': true,
                    'schema': { 'type': 'string' },
                    'example': '경보',
                  },
                ],
              'responses':
                {
                  '401':
                    {
                      'description': '인증되지 않은 사용자',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '인증되지 않은 사용자입니다.',
                                  'errorCode': 'UNAUTHORIZED',
                                  'timestamp': '2025-12-11T15:30:00',
                                },
                            },
                        },
                    },
                  '400':
                    {
                      'description': '잘못된 요청',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '잘못된 요청입니다.',
                                  'errorCode': 'INVALID_REQUEST',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '과거 재해 이력 목록',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/PastDisasterResponse' },
                              'example':
                                {
                                  'data':
                                    {
                                      'items':
                                        [
                                          {
                                            'id': 1,
                                            'date': '2023-07-15',
                                            'disaster_type': '호우',
                                            'severity': '경보',
                                            'region': ['서울', '경기'],
                                          },
                                          {
                                            'id': 2,
                                            'date': '2023-08-10',
                                            'disaster_type': '태풍',
                                            'severity': '주의보',
                                            'region': ['부산', '경남'],
                                          },
                                        ],
                                    },
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/meta/ssp-scenarios':
        {
          'get':
            {
              'tags': ['meta-controller'],
              'summary': 'SSP 시나리오 목록 조회',
              'description': 'SSP(공통사회경제경로) 시나리오 코드 목록 조회.',
              'operationId': 'getSspScenarios',
              'responses':
                {
                  '200':
                    {
                      'description': 'SSP 시나리오 코드 목록',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { 'type': 'string' },
                              'example': ['SSP1-2.6', 'SSP2-4.5', 'SSP3-7.0', 'SSP5-8.5'],
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/meta/industries':
        {
          'get':
            {
              'tags': ['meta-controller'],
              'summary': '산업 분류 목록 조회',
              'description': '산업(Industry) 코드/이름/설명 목록 조회.',
              'operationId': 'getIndustries',
              'responses':
                {
                  '200':
                    {
                      'description': '산업 분류 목록',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { 'type': 'string' },
                              'example':
                                [
                                  {
                                    'id': 1,
                                    'code': 'data_center',
                                    'name': '데이터센터',
                                    'description': '서버 및 IT 인프라 운영 시설',
                                  },
                                  {
                                    'id': 2,
                                    'code': 'manufacturing',
                                    'name': '제조업',
                                    'description': '공장 및 생산 시설',
                                  },
                                ],
                            },
                        },
                    },
                  '500':
                    {
                      'description': '서버 내부 오류',
                      'content':
                        {
                          'application/json':
                            {
                              'schema': { '$ref': '#/components/schemas/ErrorResponse' },
                              'example':
                                {
                                  'result': 'error',
                                  'message': '서버 내부 오류가 발생했습니다.',
                                  'errorCode': 'INTERNAL_SERVER_ERROR',
                                  'timestamp': '2025-12-12T16:30:00',
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/meta/hazards':
        {
          'get':
            {
[...]
